<div class="container">
    <h1>Issued Books</h1>
    <table class="table">
        <thead class="thead-dark">
          <tr>
              <th scope="col">Book Name</th>
              <th scope="col">Author</th>
              <th scope="col">Description</th>
              <th scope="col">Issue Status</th>
              <th scope="col">Issued To</th>
              <th scope="col">Actions</th>
          </tr>
        </thead>

        <tbody>
            <tr *ngFor="let book of allBooks">
                <td>{{book.name}}</td>
                <td>{{book.author}}</td>
                <td>{{book.description}}</td>
                <td>{{book.issued? 'Not Available' : 'Available'}}</td>
                <td>{{book.studentName}}</td>
                <td>
                    <button class="btn btn-sm btn-warning mr-2" (click)="returnBook(book.id)">Return</button>
                </td>
            </tr>
        </tbody>
      </table>
</div>